/* @import "theme-variants"; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
/* line 7, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 250;
  --fadeInTime: 500;
}

/* line 6, ../../src/scss/animations.scss */
.side-chat-grid-split {
  animation: 225ms sidechatSplit linear 1 forwards;
}

/* line 9, ../../src/scss/animations.scss */
.side-chat-main-title-shrink {
  animation: 225ms mainTitleShrink linear 1 forwards;
}

/* SIDE CHAT AREA */
@keyframes sidechatSplit {
  0% {
    grid-template-columns: 99.9% 0.1%;
  }
  10% {
    grid-template-columns: 95% 5%;
  }
  20% {
    grid-template-columns: 90% 10%;
  }
  40% {
    grid-template-columns: 85% 15%;
  }
  60% {
    grid-template-columns: 80% 20%;
  }
  80% {
    grid-template-columns: 75% 25%;
  }
  90% {
    grid-template-columns: 65% 35%;
  }
  92% {
    grid-template-columns: 55% 45%;
  }
  94% {
    grid-template-columns: 50% 50%;
  }
  96% {
    grid-template-columns: 45% 55%;
  }
  98% {
    grid-template-columns: 47.5% 52.5%;
  }
  100% {
    grid-template-columns: 50% 50%;
  }
}
@keyframes mainTitleShrink {
  0% {
    width: 100%;
  }
  10% {
    width: 95%;
  }
  20% {
    width: 90%;
  }
  40% {
    width: 85%;
  }
  60% {
    width: 80%;
  }
  80% {
    width: 75%;
  }
  90% {
    width: 65%;
  }
  92% {
    width: 55%;
  }
  94% {
    width: 50%;
  }
  96% {
    width: 45%;
  }
  98% {
    width: 47.5%;
  }
  100% {
    width: 50%;
  }
}
/* line 89, ../../src/scss/animations.scss */
.side-chat-grid-two-window-split {
  animation: 225ms sidechatTwoWindowSplit linear 1 forwards;
}

@keyframes sidechatTwoWindowSplit {
  0% {
    grid-template-rows: 99.9% 0.1%;
  }
  10% {
    grid-template-rows: 95% 5%;
  }
  20% {
    grid-template-rows: 90% 10%;
  }
  40% {
    grid-template-rows: 85% 15%;
  }
  60% {
    grid-template-rows: 80% 20%;
  }
  80% {
    grid-template-rows: 75% 25%;
  }
  90% {
    grid-template-rows: 65% 35%;
  }
  92% {
    grid-template-rows: 55% 45%;
  }
  94% {
    grid-template-rows: 50% 50%;
  }
  96% {
    grid-template-rows: 45% 55%;
  }
  98% {
    grid-template-rows: 47.5% 52.5%;
  }
  100% {
    grid-template-rows: 50% 50%;
  }
}
/* line 130, ../../src/scss/animations.scss */
.side-chat-grid-two-window-split-b2-one {
  animation: 225ms sidechatTwoWindowSplitB2One linear 1 forwards;
}

@keyframes sidechatTwoWindowSplitB2One {
  0% {
    grid-template-rows: 50% 50%;
  }
  10% {
    grid-template-rows: 47.5% 52.5%;
  }
  20% {
    grid-template-rows: 45% 55%;
  }
  40% {
    grid-template-rows: 50% 50%;
  }
  60% {
    grid-template-rows: 55% 45%;
  }
  80% {
    grid-template-rows: 65% 35%;
  }
  90% {
    grid-template-rows: 75% 25%;
  }
  92% {
    grid-template-rows: 80% 20%;
  }
  94% {
    grid-template-rows: 85% 15%;
  }
  96% {
    grid-template-rows: 90% 10%;
  }
  98% {
    grid-template-rows: 95% 5%;
  }
  100% {
    grid-template-rows: 99.9% 0.1%;
  }
}
