@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
/* line 7, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 1500;
  --fadeInTime: 500;
}

/* line 4, ../../src/scss/BACKUP_send-component.scss */
.send-component {
  grid-area: sendcomp;
  display: block;
  position: relative;
  top: calc(100% - 75px);
}
/* line 9, ../../src/scss/BACKUP_send-component.scss */
.send-component--grid {
  display: grid;
  width: 100%;
  height: 75px;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: "message" "send";
}
/* line 14, ../../src/scss/BACKUP_send-component.scss */
.sc-message-input {
  display: block;
  width: 100%;
  grid-area: message;
  background: #abc;
  color: #234;
  /*font-size: clamp(1.65rem, 3rem, 3.5vw);*/
  font-size: clamp(1rem, 1.5rem, 2vw);
  /*font-family: "Roboto Slab", serif;*/
  font-family: 'Merienda', cursive;
  padding-left: 10px;
}

/* line 25, ../../src/scss/BACKUP_send-component.scss */
.sc-send-button {
  display: block;
  grid-area: send;
  background: #668cb3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  /*font-family: 'Merienda', cursive;*/
  font-size: 2rem;
}

/* line 38, ../../src/scss/BACKUP_send-component.scss */
.comingIn {
  animation: fadein calc(var(--fadeInTime)*1ms) linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
