/* @import "theme-variants"; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
/* LEFT RIGHT GRID */
/* line 7, ../../src/scss/chat-window.scss */
.chat-area-grid {
  position: absolute;
  top: 80px !important;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto Slab", serif;
  display: grid;
  width: 98%;
  height: calc((75vh -114px) - 10px);
  grid-template-columns: 99.9% .1%;
  grid-template-rows: 100%;
  grid-template-areas: "mainchat sidechat";
}
/* line 16, ../../src/scss/chat-window.scss */
.chat-area-grid--main-chat-window {
  display: inline;
  grid-area: mainchat;
  position: absolute;
  overflow-x: hidden;
  background: green .chat-area-grid--main-chat-window _main-room-title;
  background-display: none;
  background-margin: 0px;
  background-width: 100%;
  background-background: #213242;
  background-position: fixed;
  background-color: #abc;
  background-text-align: center;
  background-font-size: 2em;
  background-top: 0px;
  background-box-shadow: inset -5px 0px 8px rgba(92, 123, 154, 0.35);
  background-border-bottom: 1px solid rgba(170, 187, 204, 0.5);
  background-z-index: 1500;
}
/* line 45, ../../src/scss/chat-window.scss */
.chat-area-grid--main-chat-window_output {
  display: table;
  position: absolute;
  padding: 14px 0px;
  width: 100%;
  color: #555;
  z-index: 1000;
}
/* line 54, ../../src/scss/chat-window.scss */
.chat-area-grid--main-chat-window_output > div {
  background: transparent;
  box-shadow: inset -5px 0px 8px rgba(92, 123, 154, 0.35);
  padding-left: 5px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
}

/* SIDE CHAT AREA */
/* line 65, ../../src/scss/chat-window.scss */
.side-chat-window-grid {
  grid-area: sidechat;
  display: grid;
  width: 100%;
  height: calc((75vh -114px) - 10px);
  grid-template-columns: 100%;
  grid-template-rows: 99.9% .1%;
  grid-template-areas: "sidechat1" "sidechat2";
  background: transparent;
  border-left: 2px #abc solid;
  overflow: hidden;
}
/* line 75, ../../src/scss/chat-window.scss */
.side-chat-window-grid--side-chat_top {
  grid-area: sidechat1;
  display: block;
  width: 100%;
  background: transparent;
  border-bottom: 2px #abc solid;
}
/* line 82, ../../src/scss/chat-window.scss */
.side-chat_room-title-bar {
  margin: 0px;
  width: 100%;
  background: #213242;
  position: relative;
  color: #abc;
  text-align: left;
  padding-left: 10px;
  top: 0px;
  box-shadow: inset -5px 0px 8px rgba(92, 123, 154, 0.35);
  border-bottom: 1px solid rgba(170, 187, 204, 0.5);
}
/* line 87, ../../src/scss/chat-window.scss */
.side-chat-window-grid--side-chat_bottom {
  grid-area: sidechat2;
  display: block;
  background: transparent;
}
/* line 92, ../../src/scss/chat-window.scss */
.side-chat_room-title-bar {
  margin: 0px;
  width: 100%;
  background: #213242;
  position: relative;
  color: #abc;
  text-align: left;
  padding-left: 10px;
  top: 0px;
  box-shadow: inset -5px 0px 8px rgba(92, 123, 154, 0.35);
  border-bottom: 1px solid rgba(170, 187, 204, 0.5);
}

/* line 98, ../../src/scss/chat-window.scss */
.chatting-with {
  background: #213242;
  font-size: 2em;
}
