@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
/* line 4, ../../src/scss/footer.scss */
.footer-bar {
  grid-area: footer;
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 8px 0px;
  width: 100%;
  background: #234;
  color: white;
  font-size: 2.5vw;
  font-family: "Montserrat", sans-serif;
}
