@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 8, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 250;
  --fadeInTime: 500;
}

/**************KEYFRAMES n such*********************/
/* line 47, ../../src/scss/variables.scss */
.comingIn {
  animation: fadein calc(var(--fadeInTime)*1ms) linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 55, ../../src/scss/variables.scss */
.goAway {
  animation: fadeout calc(var(--fadeOutTime)*1ms) linear forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 4, ../../src/scss/footer.scss */
.footer-bar {
  grid-area: footer;
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 8px 0px;
  width: 100%;
  background: #234;
  color: white;
  font-size: clamp(1.5rem, 2.35vw, 2rem);
  font-family: "Montserrat", sans-serif;
}
