@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
/* line 7, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 1500;
  --fadeInTime: 500;
}

/* line 4, ../../src/scss/mainchat-message-output.scss */
.mainchat-message-output {
  grid-area: messageOutput;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(100vh - 245px);
  top: 10px;
  margin: 0 auto;
}
