@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 8, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 250;
  --fadeInTime: 500;
}

/**************KEYFRAMES n such*********************/
/* line 47, ../../src/scss/variables.scss */
.comingIn {
  animation: fadein calc(var(--fadeInTime)*1ms) linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 55, ../../src/scss/variables.scss */
.goAway {
  animation: fadeout calc(var(--fadeOutTime)*1ms) linear forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 5, ../../src/scss/mainchat-message-area.scss */
.mainchat--message-area {
  grid-area: messageOutput;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(100vh - 235px);
  top: 0px;
  /*background: rgba(200,200,0,.55);*/
  /*<----*/
  margin: 0px auto;
}
/* line 15, ../../src/scss/mainchat-message-area.scss */
.mainchat--message-area--titlebar {
  display: block;
  position: relative;
  top: -3px;
  background: #557675;
  box-shadow: inset 0px -1px 8px -1px #aabbcc;
  color: #aabbcc;
  font-family: "Roboto Slab", serif;
  font-size: clamp(1.5rem, 2.35vw, 2rem);
  text-align: center;
  padding: 5px 0px;
}
/* line 27, ../../src/scss/mainchat-message-area.scss */
.mainchat--message-area--output-container {
  width: 100%;
  background: transparent;
  overflow: hidden;
}
/* line 32, ../../src/scss/mainchat-message-area.scss */
.user-link {
  padding-left: 10px;
  text-decoration: none;
  background: transparent;
}

/* line 37, ../../src/scss/mainchat-message-area.scss */
.message-sent {
  margin-bottom: 3px;
  padding: 10px;
  background: transparent;
  border-bottom: 1px solid rgba(200, 200, 255, 0.15);
}
