@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
/* line 7, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 1500;
  --fadeInTime: 500;
}

/* line 4, ../../src/scss/mainchat-message-area.scss */
.mainchat-message-area {
  grid-area: messageOutput;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: calc(100vh - 245px);
  top: 0px;
  margin: 10px auto;
  padding: 5px;
}
