@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 2, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 250;
  --fadeInTime: 500;
  --userColor: green;
}

/**************KEYFRAMES n such*********************/
/* line 49, ../../src/scss/variables.scss */
.comingIn {
  animation: fadein calc(var(--fadeInTime)*1ms) linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 57, ../../src/scss/variables.scss */
.goAway {
  animation: fadeout calc(var(--fadeOutTime)*1ms) linear forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 4, ../../src/scss/send-component.scss */
.send-component {
  grid-area: sendcomp;
  display: block;
  position: absolute;
  opacity: 0;
  /*top: calc(100% - 146px);*/
  bottom: 70px;
}
/* line 11, ../../src/scss/send-component.scss */
.send-component--grid {
  display: grid;
  width: 100vw;
  height: 75px;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: "message" "send";
}
/* line 16, ../../src/scss/send-component.scss */
.sc-message-input {
  display: block;
  width: 100%;
  height: 100%;
  grid-area: message;
  background: #aabbcc;
  color: #223344;
  /*font-size: clamp(1.65rem, 3rem, 3.5vw);*/
  font-size: clamp(1rem, 1.5rem, 2vw);
  font-family: "Merienda", cursive;
  padding-left: 20px;
}

/* line 28, ../../src/scss/send-component.scss */
.send-button {
  display: block;
  grid-area: send;
  background: #557675;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding: 5px;
  border: none;
}
