@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 2, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 250;
  --fadeInTime: 500;
  --userColor: green;
}

/**************KEYFRAMES n such*********************/
/* line 49, ../../src/scss/variables.scss */
.comingIn {
  animation: fadein calc(var(--fadeInTime)*1ms) linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 57, ../../src/scss/variables.scss */
.goAway {
  animation: fadeout calc(var(--fadeOutTime)*1ms) linear forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 4, ../../src/scss/sidechat-invite.scss */
.sidechat-invite {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
/* line 10, ../../src/scss/sidechat-invite.scss */
.sidechat-invite--shadow-layer {
  display: inline;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 3em;
  background: rgba(0, 0, 0, 0.5);
}
/* line 19, ../../src/scss/sidechat-invite.scss */
.sidechat-invite--window {
  display: block;
  position: relative;
  top: 30%;
  left: 50%;
  margin-right: 25%;
  width: clamp(200px, 300px, 35%);
  height: 175px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  line-height: 95%;
  font-size: clamp(1.25rem, 1.75rem, 2.5vw);
  color: white;
  background: #223344;
}
/* line 36, ../../src/scss/sidechat-invite.scss */
.sidechat-button {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: clamp(150px, 250px, 90%);
  height: clamp(40px, 50px, 95px);
  top: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
/* line 44, ../../src/scss/sidechat-invite.scss */
.sidechat-button--yes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 125px;
  margin: 5px;
  background: orange;
  font-size: clamp(0.55rem, 1rem, 1.2rem);
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px #aabbcc solid;
  transition: all .75s ease-out;
}
/* line 57, ../../src/scss/sidechat-invite.scss */
.sidechat-button--yes:hover {
  background: brown;
}
/* line 61, ../../src/scss/sidechat-invite.scss */
.sidechat-button--no {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 125px;
  margin: 5px;
  background: orange;
  font-size: clamp(0.55rem, 1rem, 1.2rem);
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px #aabbcc solid;
  transition: all .75s ease-out;
}
/* line 74, ../../src/scss/sidechat-invite.scss */
.sidechat-button--no:hover {
  background: brown;
}
