@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
/* line 7, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 250;
  --fadeInTime: 500;
}

/* line 4, ../../src/scss/signup-modal.scss */
.signup-modal {
  display: block;
  position: relative;
  margin: auto;
  width: clamp(380px, 600px, 40%);
  height: clamp(300px, 480px, 40%);
  top: 70px;
  background: #234;
  border: 0.5px solid #abc;
  color: #abc;
}
/* line 14, ../../src/scss/signup-modal.scss */
.signup-modal--grid {
  margin: auto auto;
  display: grid;
  width: 95%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60%;
  grid-template-areas: "intro" "inputs";
  background: #234;
}
/* line 22, ../../src/scss/signup-modal.scss */
.mdl-signin-section {
  grid-area: intro;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  /*font-family: 'Merienda', cursive;*/
  font-size: clamp(1.65rem, 3rem, 3.5vw);
  color: #abc;
  background: #234;
}

/* line 32, ../../src/scss/signup-modal.scss */
.mdl-inputs-section {
  grid-area: inputs;
  background: #234;
}

/* line 36, ../../src/scss/signup-modal.scss */
.mdl-input {
  display: block;
  width: 65%;
  margin: 20px auto;
  font-size: clamp(1rem, 1.5rem, 2vw);
  text-align: center;
  color: #234;
  background: #abc;
  /*font-family: "Roboto Slab", serif;*/
  font-family: 'Merienda', cursive;
}

/* line 46, ../../src/scss/signup-modal.scss */
.mdl-join-button {
  width: 25%;
  position: relative;
  left: 70%;
  top: -8px;
  padding: 10px 0;
  background: #234;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  /*font-family: 'Merienda', cursive;*/
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: none;
  transition: all 250ms ease;
}
/* line 59, ../../src/scss/signup-modal.scss */
.mdl-join-button:hover {
  background: #49627a;
  box-shadow: 5px 8px 15px -1px rgba(0, 0, 0, 0.75);
}

/* line 67, ../../src/scss/signup-modal.scss */
.goAway {
  animation: fadeout calc(var(--fadeOutTime)*1ms) linear forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
