@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/* line 7, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 250;
  --fadeInTime: 500;
}

/**************KEYFRAMES n such*********************/
/* line 46, ../../src/scss/variables.scss */
.comingIn {
  animation: fadein calc(var(--fadeInTime)*1ms) linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 54, ../../src/scss/variables.scss */
.goAway {
  animation: fadeout calc(var(--fadeOutTime)*1ms) linear forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* @import "theme-variants"; */
/* line 5, ../../src/scss/title-bar.scss */
.title-bar {
  display: grid;
  position: sticky;
  top: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 20vw 5vw repeat(13, fr);
  width: 100vw;
  /*modified*/
  grid-template-areas: "title dark . . . . . . . . . . . . . ";
  border-bottom: 2px solid white;
  background: #234;
  overflow: hidden;
}
/* line 16, ../../src/scss/title-bar.scss */
.title-bar > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  width: 100%;
  /*added*/
}
/* line 23, ../../src/scss/title-bar.scss */
.title-bar--site-title {
  grid-area: title;
  grid-column-start: 1;
  grid-column-end: 1;
  font-family: "Montserrat", sans-serif;
  background: #234;
  user-select: none;
  font-size: 3rem;
  padding-left: -5px;
}
/* line 34, ../../src/scss/title-bar.scss */
.title-bar--site-title > div {
  background: inherit;
  color: #abc;
}
/* line 39, ../../src/scss/title-bar.scss */
.title-bar--darkmode-button {
  grid-area: dark;
  grid-column-start: 2;
  grid-column-end: 2;
  display: inline;
  position: relative;
  background: transparent;
  top: 17px;
  left: -17px;
  padding-left: 17px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}
/* line 52, ../../src/scss/title-bar.scss */
.title-bar--darkmode-button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: inherit;
  border: 2px solid #49627a;
  border-radius: 25px;
  margin: 0px 10px;
  left: 50px;
  text-decoration: none;
  font-weight: 900;
  color: #49627a;
  transition: all 250ms ease;
}
/* line 67, ../../src/scss/title-bar.scss */
.title-bar--darkmode-button > a:hover {
  border: 2px solid #abc;
  color: #abc;
  box-shadow: 5px 8px 15px -1px rgba(0, 0, 0, 0.75);
}
/* line 73, ../../src/scss/title-bar.scss */
.title-bar--darkmode-button--space {
  /*added*/
  width: calc(100vw / 15 + "px");
}

/* line 4, ../../src/scss/signup-modal.scss */
.signup-modal {
  display: block;
  position: relative;
  margin: auto;
  width: clamp(380px, 600px, 40%);
  height: clamp(300px, 480px, 40%);
  top: -500px;
  /*calc(($titlebarHeight + 430px)* -1);*/
  background: #234;
  border: 0.5px solid #abc;
  color: #abc;
}
/* line 14, ../../src/scss/signup-modal.scss */
.signup-modal--grid {
  margin: auto auto;
  display: grid;
  width: 95%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60%;
  grid-template-areas: "intro" "inputs";
  background: #234;
}
/* line 22, ../../src/scss/signup-modal.scss */
.mdl-signin-section {
  grid-area: intro;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.65rem, 3rem, 3.5vw);
  color: #abc;
  background: #234;
}

/* line 32, ../../src/scss/signup-modal.scss */
.mdl-inputs-section {
  grid-area: inputs;
  background: #234;
}

/* line 36, ../../src/scss/signup-modal.scss */
.mdl-input {
  display: block;
  width: 65%;
  margin: 20px auto;
  font-size: clamp(1rem, 1.5rem, 2vw);
  text-align: center;
  color: #234;
  background: #abc;
  font-family: "Merienda", cursive;
}

/* line 46, ../../src/scss/signup-modal.scss */
.mdl-join-button {
  width: 25%;
  position: relative;
  left: 70%;
  top: -8px;
  padding: 10px 0;
  background: #234;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: none;
  transition: all 250ms ease;
}
/* line 59, ../../src/scss/signup-modal.scss */
.mdl-join-button:hover {
  background: #49627a;
  box-shadow: 5px 8px 15px -1px rgba(0, 0, 0, 0.75);
}

/* line 5, ../../src/scss/mainchat-message-area.scss */
.mainchat--message-area {
  grid-area: messageOutput;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(100vh - 235px);
  top: 0px;
  /*background: rgba(200,200,0,.55);*/
  /*<----*/
  margin: 0px auto;
}
/* line 16, ../../src/scss/mainchat-message-area.scss */
.message-output-container {
  background: yellow;
}

/* line 19, ../../src/scss/mainchat-message-area.scss */
.user-link {
  background: orange;
}
/* line 23, ../../src/scss/mainchat-message-area.scss */
.mainchat--message-area--titlebar {
  display: block;
  position: relative;
  top: -2px;
  background: transparent;
  box-shadow: inset 0px -1px 8px -1px #abc;
  color: #abc;
  font-family: "Roboto Slab", serif;
  font-size: 2.25vw;
  text-align: center;
  padding: 5px 0px;
}
/* line 35, ../../src/scss/mainchat-message-area.scss */
.mainchat--message-area--output-container {
  width: 100%;
  background: purple;
  overflow: hidden;
}

/* line 4, ../../src/scss/send-component.scss */
.send-component {
  grid-area: sendcomp;
  display: block;
  position: absolute;
  opacity: 0;
  top: calc(100% - 146px);
}
/* line 10, ../../src/scss/send-component.scss */
.send-component--grid {
  display: grid;
  width: 100vw;
  height: 75px;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: "message" "send";
}
/* line 15, ../../src/scss/send-component.scss */
.sc-message-input {
  display: block;
  width: 100%;
  grid-area: message;
  background: #abc;
  color: #234;
  /*font-size: clamp(1.65rem, 3rem, 3.5vw);*/
  font-size: clamp(1rem, 1.5rem, 2vw);
  font-family: "Merienda", cursive;
  padding-left: 20px;
}

/* line 26, ../../src/scss/send-component.scss */
.send-button {
  display: block;
  grid-area: send;
  background: #668cb3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

/* line 4, ../../src/scss/footer.scss */
.footer-bar {
  grid-area: footer;
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 8px 0px;
  width: 100%;
  background: #234;
  color: white;
  font-size: 2.5vw;
  font-family: "Montserrat", sans-serif;
}

/* line 9, ../../src/scss/styles.scss */
* {
  margin: 0;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  background: #10151b;
}

/* line 17, ../../src/scss/styles.scss */
.b {
  border: 1px red solid;
}

/* line 20, ../../src/scss/styles.scss */
.hide {
  display: none;
}

/* line 24, ../../src/scss/styles.scss */
.prime-container {
  resize: none;
  /*height: 100%;*/
  height: clamp(400px, 50vh, 100%);
  /*min-width: 400px;
  width: 100%;*/
  width: clamp(500px, 50vw, 100%);
  display: grid;
  grid-template-rows: 70px 1fr 110px;
  grid-template-areas: "titlebar" "maincontainer"  "footer";
}

/* line 37, ../../src/scss/styles.scss */
.main-container {
  grid-area: maincontainer;
  overflow: hidden;
  position: absolute;
  background: black;
  top: 73px;
  /*<---*/
  margin: auto;
  display: grid;
  width: 100%;
  height: calc(100% - 220px);
  grid-template-columns: 99.9% .1%;
  grid-template-rows: 99.9% .1%;
  /*@include grid(100%,calc(100% - 220px),"50% 50%","99.9% .1%");*/
  /*@include grid(100%,calc(100% - 220px),"50% 50%","50% 50%");*/
  grid-template-areas: "mainchat sidechatTop" "mainchat sidechatBottom";
  color: white;
  animation: change 5s ease infinite both;
}
/* line 51, ../../src/scss/styles.scss */
.main-container--mainchat {
  grid-area: mainchat;
  /*border: 1px solid white;*/
}
/* line 56, ../../src/scss/styles.scss */
.main-container--sidechat_1 {
  grid-area: sidechatTop;
  background: orange;
  border: 5px solid green;
}
/* line 61, ../../src/scss/styles.scss */
.main-container--sidechat_2 {
  grid-area: sidechatBottom;
  background: purple;
  /*border: 3px solid yellow; */
}
