/* @import "theme-variants"; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
/* line 5, ../../src/scss/title-bar.scss */
.title-bar {
  display: grid;
  position: sticky;
  top: 0;
  grid-template-rows: 1;
  grid-template-columns: 15;
  width: 100vw;
  grid-template-areas: "title dark . . . . . . . . . . . . . ";
  border-bottom: 2px solid  white;
  background: #234;
}
/* line 15, ../../src/scss/title-bar.scss */
.title-bar > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
}
/* line 21, ../../src/scss/title-bar.scss */
.title-bar--site-title {
  grid-area: title;
  grid-column-start: 1;
  grid-column-end: 1;
  font-family: "Montserrat", sans-serif;
  background: #234;
  user-select: none;
  font-size: 3rem;
  padding-left: -5px;
}
/* line 31, ../../src/scss/title-bar.scss */
.title-bar--site-title > div {
  background: inherit;
  color: #abc;
}
/* line 36, ../../src/scss/title-bar.scss */
.title-bar--darkmode-button {
  grid-area: dark;
  grid-column-start: 2;
  grid-column-end: 2;
  display: inline;
  position: relative;
  background: transparent;
  top: 17px;
  left: -17px;
  padding-left: 17px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}
/* line 49, ../../src/scss/title-bar.scss */
.title-bar--darkmode-button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: inherit;
  border: 2px solid #49627a;
  border-radius: 25px;
  margin: 0px 10px;
  left: 50px;
  text-decoration: none;
  font-weight: 900;
  color: #49627a;
  transition: all 250ms ease;
}
/* line 64, ../../src/scss/title-bar.scss */
.title-bar--darkmode-button > a:hover {
  border: 2px solid #abc;
  color: #abc;
  box-shadow: 5px 8px 15px -1px rgba(0, 0, 0, 0.75);
}
