/* line 2, ../../src/scss/variables.scss */
:root {
  --fadeOutTime: 250;
  --fadeInTime: 500;
  --userColor: green;
}

/**************KEYFRAMES n such*********************/
/* line 49, ../../src/scss/variables.scss */
.comingIn {
  animation: fadein calc(var(--fadeInTime)*1ms) linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 57, ../../src/scss/variables.scss */
.goAway {
  animation: fadeout calc(var(--fadeOutTime)*1ms) linear forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
