<div class="main-container" id="main-container">
	<div class="main-container--mainchat b" id="main-chat-section">

<!----------------------------------------- SIGNIN MODAL -->
		<div class="signup-modal " id="signup-modal">
			<div class="signup-modal--grid ">
				<div class="mdl-signin-section" id="signin">introduce yourself</div>
				<div class="mdl-inputs-section">
					<input type="text" name="screenname" class="mdl-input" id="mdl-screenname-input" placeholder="" autofocus>
					<input type="text" name="message" class="mdl-input" id="mdl-message-input" placeholder="what's happening?">
					<div class="mdl-join-button" id="mdl-join-button">Join Chat</div>
				</div>
				
			</div>
		</div><!-------------------- class="signup-modal" -->

<!---------------------------------------- SEND COMPONENT -->
		<div class="send-component " id="mainchat-send-component">
			<div class="send-component--grid">
				
				<input type="text" name="message" class="sc-message-input" id="message-input" placeholder="message"/>
				<div class="sc-send-button" id="sc-send-button">SEND</div>
			</div>
		</div><!------------------- class="send-component" -->





<!------------------------------------ MAINCHAT MESSAGE OUTPUT -->
		<div class="mainchat-message-output hide b" id="mainchat-message-output">
			bar















		</div><!--------------- class="mainchat-message-output" -->





	</div><!---- main-container--mainchat -->

	<div class="main-container--sidechat_1 b" id="side-Chat_1-Section">SIDE1</div>
	<div class="main-container--side-chat_2 b" id="side-Chat_2-Section">SIDE2</div>
</div>


<!-- VARIABLES::

const mainchatMessageOutput = document.getElementById("mainchat-message-output");
const = document.getElementById("");
const = document.getElementById("");
const = document.getElementById("");
const = document.getElementById("");
const = document.getElementById("");
const = document.getElementById("");



-->

