<div class="title-bar">
	<div class="title-bar--site-title "><div>{{title}}</div></div>
    <div class="title-bar--darkmode-button"><a href="#">D</a></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>
    <div class="title-bar--spacer"></div>

</div>