<div class="main-container">
	<div class="chat-area-grid"></div>
	<div class="chat-area-grid--mainchat">d</div>
	<div class="chat-area-grid--sidechat_1">a</div>
	<div class="chat-area-grid--sidechat_2">t</div>
</div>