<div class="main-container" id="main-container">



	<div class="main-container--mainchat" id="main-chat-section">

		
		<div class="mainchat--message-area" id="mainchat-message-area">
			<div class="mainchat--message-area--titlebar" id="mainchat-titlebar">main chat</div>
			<div class="mainchat--message-area--output-container b" id="mainchat-output-container">
				<a href="#" class="user-link ">{{screenname}}</a>
			</div>
		</div><!-- class="mainchat-message-area" -->
		
	
<!----------------------------------------- SIGNIN MODAL -->
		<div class="signin-modal " id="signin-modal">
			<div class="signin-modal--grid ">
				<div class="mdl-signin-section" id="signin">Introduce yourself</div>
				<div class="mdl-inputs-section">
					<input type="text" name="screenname" class="mdl-input" id="mdl-screenname-input" placeholder="" autofocus>
					<input type="text" name="message" class="mdl-input" id="mdl-message-input" placeholder="what's happening?">
					<div class="mdl-join-button" id="mdl-join-button">Join Chat</div>
				</div>
				
			</div>
		</div><!-------------------- class="signin-modal" -->





		

	</div><!-------------------- class="main-container--mainchat -->

	<div class="main-container--sidechat_1" id="side-Chat_1-Section">SIDE1</div>
	<div class="main-container--sidechat_2" id="side-Chat_2-Section">SIDETWO</div>


	
</div><!-- class="main-container -->

<!---------------------------------------- SEND COMPONENT -->
		<div class="send-component " id="mainchat-send-component">
			<div class="send-component--grid">
				
				<input type="text" name="message" class="sc-message-input" id="message-input" placeholder="please type in a message"/>
				<div class="send-button" id="send-button">SEND</div>
			</div>
		</div><!------------------- class="send-component" -->



