@import "variables";
@import "font";

.mainchat {
	&--message-area {
		grid-area: messageOutput;
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: calc(100vh - 235px);
		top: 0px;
		/*background: rgba(200,200,0,.55);*//*<----*/
		margin: 0px auto;
		&--titlebar {
			display: block;
			position: relative;
			top: -3px;
			background: $color2;
			box-shadow: inset 0px -1px 8px -1px $color1;
			color: $color1;
			@include minorFont;
			/*font-size: 2.35vw;*/
			font-size: clamp(1.5rem,2.35vw,2rem);
			text-align: center;
			padding: 5px 0px;
		}
		&--output-container{
			width: 100%;
			background: transparent;
			overflow: hidden;
			@at-root {
			.user-link {
				padding-left: 5px;
				text-decoration: none;
				background: transparent;
			}
			.message-sent{
				padding: 10px;
				background: transparent;
				border-bottom: 1px solid $color1;
			}
		}
		}
	}
}
