@import "variables";
@import "font";

.mainchat-message-area{
	grid-area: messageOutput;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: calc(100vh - 245px);
	top: 0px;
	margin: 10px auto;
	padding: 5px;
}