@import "variables";
@import "font";

.send-component{
	grid-area: sendcomp;
	display:block;
	position:absolute;
	opacity: 0;
	top: calc(100% - 146px);
	&--grid{
		@include grid(100vw,75px,"1fr","50% 50%");
		grid-template-areas: "message"
							 "send";
		@at-root{
			.sc-message-input{
				display: block;
				width: 100%;
				grid-area: message;
				background: $color1;
				color: $color3;
				/*font-size: clamp(1.65rem, 3rem, 3.5vw);*/
				font-size: clamp(1rem,1.5rem,2vw);
				@include accentFont;
				padding-left: 20px;
			}
			.send-button{
				display: block;
				grid-area: send;
				background: $color2;
				text-align: center;
				@include siteFont;
				font-size: 2rem;
			}
		}
	}

}

