@import "variables";
@import "font";

.send-component{
	display:block;
	position:relative;
	top: calc(100% - 75px);
	&--grid{
		@include grid(100%,75px,"1fr","50% 50%");
		grid-template-areas: "message"
							 "send";
		@at-root{
			.sc-message-input{
				display: block;
				width: 100%;
				grid-area: message;
				background: $color1;
				color: $color2;
				/*font-size: clamp(1.65rem, 3rem, 3.5vw);*/
				font-size: clamp(1rem,1.5rem,2vw);
				@include minorFont;
				padding-left: 10px;
			}
			.sc-send-button{
				display: block;
				grid-area: send;
				background: lighten($color2,35%);
				text-align: center;
				@include siteFont;
				font-size: 2rem;
			}
		}
	}

}

.comingIn{
   animation: fadein calc(var(--fadeInTime)*1ms) linear forwards;
}

@keyframes fadein{
   from{ opacity: 0; }
   to{ opacity: 1; }
}