@import "variables";
@import "font";

.signin-modal{
   display: block;
   position: relative;
   margin: auto;
   width:clamp(380px,600px,40%);
   height: clamp(200px, 250px, 40%);
   top: -500px;/*calc(($titlebarHeight + 430px)* -1);*/
   background: $color3;
   border: .5px solid $color1;
   color: $color1;
   &--grid{
      margin: auto auto;
      @include grid(95%,100%,"1fr","40% 60%");
      grid-template-areas: "intro"
                           "inputs";
      background: $color3;
   }
   @at-root{
      .mdl-signin-section{
         grid-area: intro;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 10px 0;
         @include siteFont;
         font-size: clamp(1.65rem,3rem,3.5vw);
         color: $color1;
         background: $color3;
      }
      .mdl-inputs-section{
         grid-area: inputs;
         background: $color3;
      }
      .mdl-input{
         display: block;
         width: 65%;
         margin: 20px auto;
         font-size: clamp(1rem,1.5rem,2vw);
         text-align: center;
         color: $color3;
         background: $color1;
         @include accentFont;
      }
      .mdl-join-button{
         width: 25%;
         position: relative;
         left: 75%;
         top: -5px;
         padding: 10px 0;
         background: $color3;
         text-align: center;
         @include siteFont;
         border: 1px solid white;
         border-radius: 50px;
         box-shadow: none;
         transition: all 250ms ease;
         &:hover{
         /*background: darken($color1,35%);*/
         background: $color2;
         @include buttonHoverShadow;
         }
      }
   }
}

