@import "variables";
@import "font";
@import "title-bar";
@import "footer";

* {
	background: darken($color1,65%);
   margin: 0px;
   box-sizing: border-box;
}
.b {
   border: 1px red solid;
}
.hide {
   display: none;
}
.prime-container{
   resize:none;
	height: 100%;
   width: 100%;
	display: grid;
	grid-template-rows: $titlebarHeight auto 110px;
	grid-template-areas: "titlebar maincontainer footer";
}
.main-container {
   grid-area: maincontainer;
   overflow: hidden;
   width: 100vw;
   background: darken($color1,75%);
}