@import "variables";
@import "font";
@import "title-bar";
@import "signin-modal";
@import "mainchat-message-area";
@import "send-component";
@import "footer";

* {
   margin: 0;
   margin: 0px;
   box-sizing: border-box;
   color: white;
   background: darken($color1,65%);

}
.b {
   border: 1px red solid;
}
.hide {
   display: none;
}

.prime-container{
   resize:none;
	/*height: 100%;*/
   height: clamp(400px,50vh,100%);
   /*min-width: 400px;
   width: 100%;*/
   width: clamp(500px,50vw,100%);
	display: grid;
	grid-template-rows: $titlebarHeight 1fr 110px;
	grid-template-areas: "titlebar"
                        "maincontainer" 
                        "footer";
}
.main-container {
   grid-area: maincontainer;
   overflow: hidden; 
   position: absolute;
   background: darken($color1,75%);
   top: $titlebarHeight+ 3px; /*<---*/
   margin: auto;
   @include grid(100%,calc(100% - 220px),"100%",repeat(1,1fr));
   /*@include grid(100%,calc(100% - 220px),"99.9% .1%","99.9% .1%");*/
   /*@include grid(100%,calc(100% - 220px),"50% 50%","99.9% .1%");*/
   /*@include grid(100%,calc(100% - 220px),"50% 50%","50% 50%");*/
   /*grid-template-areas: "mainchat sidechatTop"
                        "mainchat sidechatBottom";*/
   grid-template-areas: "mainchat";
   color: white;
   animation: change 5s ease infinite both;
   &--mainchat{
      grid-area: mainchat;
   }
   /*&--sidechat_1{
      grid-area: sidechatTop;
      background: orange;
   }
   &--sidechat_2{
      grid-area: sidechatBottom;
      background: purple; 
   }*/
}
